*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --background: linear-gradient(135deg, #e2ecf3, #f0a8e3);
    --secondaryBackground: #f6f1f7;
    --text:#540750;
    --purple:#e98ce9;
    --teal:#ef9ce4;
}


body{
    min-height:100vh;
    background: var(--background);
    background-repeat:no-repeat ;
    color: var(--text);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    margin-top: 120px;
    margin:120px auto 0 auto;
    max-width: 500px;

}

.stats-container{
    padding: 20px;
    border-radius: 20px;
    border: 2px solid rgb(137, 17, 115);
    display: flex;
    gap:50px;
    justify-content: space-between;
    width:100%;

}
.details{
    width:100%;
}
#progressBar{
    width: 100%;
    height: 10px;
    background-color: rgb(223, 165, 223);
    border-radius: 5px;
    margin-top:20px;
}
#progress{
    width: 0%;
    height: 10px;
    background-color: rgb(124, 19, 132);
    border-radius: 10px;
    transition: all 0.3s ease;
}
#numbers{
    width: 100px;
    height: 100px;
    background-color: var(--purple);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bold;
}
form{
    margin-top: 60px;
    width:100%;
    display: flex;
    gap:10px;
    
}
input{
    flex:1;
    padding:16px;
    background: var(--secondaryBackground);
    border: 2px solid rgb(192, 35, 150);
    border-radius: 10px;
    outline:none;
    color: var(--text);
    transition: border 0.3s ease;
}
input:focus{
    border-color: rgb(169, 16, 158);
    box-shadow: 0 0 0 2px rgba(44,204,211,0.2);
}
input[type="checkbox"] {
  accent-color: #d135c4; /* professional blue */
}

button{
    width:50px;
    height:50px;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: var(--purple);
    color: var(--text);
    font-size: 30px;
    font-weight: bold;
    outline: none;
    border:none;
    cursor: pointer;
}
#task-list{
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-top: 30px;
    width:100%;
    list-style: none;
}
.taskItem{
    width:100%;
    display: flex;
    background : linear-gradient(135deg, #f1ebf0, #efe0ec);
    padding: 10px;
    border-radius: 10px;
    justify-content: space-between;
    align-items:center;

}
.task{
    display: flex;
    align-items: center;
    gap:10px;
    font-size: 18px;
}
.task input{
    width: 20px;
    height: 20px;
}
.completed p{
    text-decoration: line-through;
    color: rgb(110, 7, 105);
}
.taskItem img{
    width:24px;
    height:24px;
    margin: 0 10px;
    cursor: pointer;

}
